/* =========== Player =========== */
body.muse_active .sidebar {
  bottom: 90px;
}
body.muse_active #main {
  margin-bottom: 90px;
  height: calc( var(--window_height) - 90px );
}

#player {
  --player_height: 90px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: var(--player_height);
  background: rgba( var(--player_bg), 1);
  box-shadow: -1px 1px 3px 0px rgb(0 0 0 / 10%);
  z-index: 11;
}
#player > div {
  float: var(--align);
  height: 100%;
  position: relative;
}
#player .controls_wrapper {
  width: 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#player .buttons_wrapper {
  float: right;
  width: 140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 30px;
}
#player .data_wrapper {
  width: 304px;
  display: flex;
  padding-left: 20px;
  border-right: 1px solid rgba(var(--font_color),0.04);
  margin-right: 25px;
}
#player .buttons_wrapper .button {
  cursor: pointer;
}
#player .mdi {
  font-size: 22pt;
  line-height: var(--player_height);
}
#player .data_wrapper .cover_holder div {
  width: 100%;
  height: 100%;
  background: center center no-repeat;
  background-size: cover;
}
#player .data_wrapper .source_data {
  position: relative;
  padding-left: 80px;
  font-weight: 500;
  height: 40px;
  align-self: center;
  margin-right: 30px;
  overflow: hidden;
  width: 100%;
}
#player .data_wrapper .source_data .cover_holder {
  position: absolute;
  width: 60px;
  height: 40px;
  left: 0;
}
#player .progress_bar {
  width: calc( 100% - ( 700px ) );
  margin: 0 40px;
  cursor: pointer;
}
#player .progress_bar .progress {
  display: block;
  height: 4px;
  background: rgba( var(--font_color), 0.06 );
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 40px;
  right: 0;
  left: 0;
}

#player .data_wrapper .source_data ._title {
  font-size: 115%;
}
#player .data_wrapper .source_data ._sub_title {
  opacity: 0.5;
}
#player .button .mdi {
  font-size: 16pt;
  opacity: 0.5;
  transition: 250ms ease all;
}
#player .button .mdi-chevron-up:before {
  transition: 200ms ease-in transform;
  transform: scale(1.5);
}
#player .play .mdi {
  font-size: 35pt;
}
#player .controls_wrapper .control {
  opacity: 0.5;
  cursor: pointer;
  transition: 150ms ease all;
}
#player .controls_wrapper .control.play {
  opacity: 0.9;
}
#player .controls_wrapper .control:hover {
  opacity: 1;
}
#player .buttons_wrapper .button:hover .mdi {
  opacity: 1;
}
#player .data_wrapper:hover {
  background: rgba( var(--font_color), 0.01 );
  border-right: 1px solid rgba(var(--font_color),0.1);
}
#player .data_wrapper .source_data .data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  white-space: nowrap;
  margin-right: 0;
  overflow: hidden;
}
#player .data_wrapper .source_data .button_wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -12px;
  height: fit-content;
  margin: auto;
  transition: 100ms ease all;
  cursor: pointer;
}
#player .data_wrapper .source_data .button_wrapper .mdi {
    background: rgb(var(--player_bg));
    color: rgba(var(--font_color),0.5);
}
#player .data_wrapper .source_data .button_wrapper:hover {
  opacity: 1;
}
#player .progress_bar .progress input {
    opacity: 0;
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 2;
    cursor: pointer;
}
#player .progress_bar .progress > div{
    content: "";
    display: block;
    height: 100%;
    width: 0%;
    background: rgba( var(--theme_color), 0.2 );
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
#player .progress_bar .progress .progress_e {
    width: 0%;
    background: rgba( var(--theme_color), 1 );
    position: relative
}
#player .progress_bar .progress .progress_e:after{
    display: block;
    content: "";
    height: 14px;
    width: 14px;
    background: rgba( var(--theme_color), 1 );
    position: absolute;
    right:-6px;
    top:0;
    bottom:0;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 0;
    transition: 200ms ease all
}
#player.seeking .progress_bar .progress .progress_e:after{
    transform: scale(1.5);
}
#player:hover .progress_bar .progress .progress_e:after {
    opacity: 1
}
#player .progress_bar .progress .time {
    width: auto;
    background: none;
    font-size: 90%;
    opacity: 0.3;
    height: fit-content;
    margin: auto;
    left: -40px;
}
#player .progress_bar .progress .time.tot {
    right: -40px;
    left: auto;
}
#player .play .mdi.mdi-refresh:before {
    animation: spin 2.5s linear infinite;;
}
#player.muted .buttons_wrapper .button.volume_control  .mdi-volume-off {
    display: block;
}
#player .buttons_wrapper .button.volume_control .mdi {
    display: none;
}
#player.unmuted .buttons_wrapper .button.volume_control .mdi-volume-high {
    display: block;
}
#player .buttons_wrapper .button.que_repeat .mdi {
    display: none;
}
#player.repeat_on .buttons_wrapper .button.que_repeat .mdi-repeat {
    display: block;
}
#player.repeat_off .buttons_wrapper .button.que_repeat .mdi-repeat-off {
    display: block;
}
#player.infinite_source .progress_bar .progress .time {
  display: none
}
#player.infinite_source.playing .progress_bar .progress .progress_e {
  width: 100% !important;
  background: rgba( var(--theme_color), 0.5 )
}
#player.infinite_source.playing .progress_bar .progress .progress_e:after {
  display: none !important;
  width: 100% !important;
}
#player.infinite_source.playing .progress_bar .progress .progress_e:before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: repeating-linear-gradient(60deg, transparent, transparent 10px, rgba( var(--side_color), 0.15 ) 10px, rgba( var(--side_color), 0.15 ) 15px);
  background-size: 200%;
  animation: slide linear infinite 30000ms
}
#player .data_wrapper .source_data ._sub_title {
    position: relative;
}
#player .data_wrapper .source_data ._sub_title .live:after {
    content: "Live";
    background: rgb(var(--player_bg));
    position: absolute;
    left: 0;
    width: 100%;
    color: rgb(var(--theme_color));
    font-weight: 700
}
#player .data_wrapper .source_data ._sub_title .preview {
  color: rgba(var(--theme_color),1);
  font-weight: 600;
}
#player .data_wrapper .source_data ._sub_title._preview_wrapper {
  opacity: 1;
}



#players {
    display: none !important;
}
body.que_active.muse_player_active #players .player_movers,
body.que_active.muse_player_active #players:before,
body.que_active.muse_player_active #players:after,
body.que_active_open #players .player_movers,
body.que_active_open #players:before,
body.que_active_open #players:after {
  display: none !important
}
body.que_active.muse_player_active #players .a_player {
  opacity: 1 !important
}
#players .player_movers {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}
#players:hover .player_movers {
  opacity: 1;
  visibility: visible;
}
body.muse_player_hide #players:hover .player_movers {
  display: none
}
#players .player_movers div {
    height: 33.33%;
    line-height: 60px;
    text-align: center;
    background: rgba(var(--bg_color),0.95);
    border-bottom: 1px solid rgba(var(--font_color),0.05);
    font-size: 110%;
    font-weight: 600;
    color: rgba(var(--font_color),0.7);
    transition: 300ms ease all;
    cursor: pointer;
}
#players .player_movers div:last-child {
    border: none;
}
#players .player_movers div:hover {
    background: rgba(var(--bg_color),1);
}
body.muse_video_active.muse_player_active #players,
body.muse_youtube_active #players,
body.muse_soundcloud_active #players {
    position: fixed;
    bottom: 110px;
    right: 20px;
    z-index: 8;
    width: 350px;
    height: 200px;
    display: block !important
}
body #players.video.hls_audio {
    display: none !important
}
body.muse_player_active.muse_player_reverse #players {
    right: auto;
    left: calc( var(--sidebar_abs_width) + 20px );
}
body.muse_player_hide.muse_player_active:not(.que_active) #players {
    height: 20px;
    width: 100px;
    background: rgba(var(--theme_color),1);
    border-radius: 10px;
    color: #fff;
    cursor: pointer
}
body.muse_player_hide.muse_player_active:not(.que_active) #players.soundcloud {
    width: 120px;
}

body.muse_player_active .a_player,
body.muse_player_active .a_player iframe,
body.muse_player_active .a_player video {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
body.muse_player_active .a_player {
  display: none
}
body.muse_player_hide.muse_player_active #players .a_player {
    opacity: 0;
}
body.muse_player_hide.muse_player_active #players:after {
    content: "YouTube";
    position: absolute;
    top: 0;
    right: 0;
    left: 10px;
    text-align: center;
    line-height: 20px;
}
body.muse_player_hide.muse_player_active.muse_video_active #players:after {
  content: "Video"
}
body.muse_player_hide.muse_player_active.muse_soundcloud_active #players:after {
  content: "SoundCloud"
}
body.muse_player_hide.muse_player_active #players:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 15px;
  border-radius: 50%;
  animation: blink 1.5s linear infinite;
}
body.mobile.muse_player_active #players {
  opacity: 0;
  visibility: hidden;
  right: -100vh;
}
body.mobile.muse_player_active.que_active #players {
  opacity: 1;
  visibility: visible;
  position: absolute;
  z-index: 14 !important;
  right: 0;
  height: 0;
}
body.muse_player_active.muse_youtube_active .a_player#youtube {
  display: block;
}
body.muse_player_active.muse_soundcloud_active .a_player#soundcloud {
  display: block;
}
body.muse_player_active.muse_video_active .a_player#videojs {
  display: block;
}
body.muse_player_active.muse_video_active .a_player#videojs > div {
    padding: 0;
    width: 100%;
    height: 100%;
}

div#videojs > div > div {
    display: none;
}

div#videojs > div > button {
    display: none;
}

@keyframes blink {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0.7
    }
    100% {
        opacity: 0
    }
}



/* =========== Queue =========== */
body.que_active .queue {
}
body.que_active #player .button .mdi-chevron-up:before {
  opacity: 1;
  transform: rotate(180deg) scale(1.8);
}
body.que_active #player .button .mdi-chevron-up {
  opacity: 1;
  color: rgba( var(--theme_color), 1 );
}
body.que_active #player {
  z-index: 13;
}
body.que_active #main {
  overflow: hidden;
}

.queue {
  position: fixed;
  top: 100vh;
  right: 0;
  left: 0;
  bottom: 90px;
  background: linear-gradient(45deg, rgba( var(--bg_color), 1 ), rgba( var(--bg_color2), 1 ));
  z-index: 10;
}

.queue .data_wrapper {
  float: right;
  width: 40%;
  padding: calc( var(--padding) * 3 ) calc( var(--padding) * 3 ) 0;
}
.queue > div {
  height: 100%;
}
.queue .data_wrapper .tabs {
  justify-content: space-evenly;
  /* height: 40px; */
}
.queue .data_wrapper .tabs .tab {
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px solid rgba( var(--font_color), 0.2 );
  float: left;
  width: 50%;
  text-align: center;
  padding-bottom: calc( var(--padding) * 1.5 );
  color: rgba( var(--font_color), 0.5 );
  height: 40px;
  cursor: pointer;
}
.queue .data_wrapper .tabs .tab.active {
  border-bottom-color: rgba( var(--font_color), 0.6 );
  color: rgba( var(--font_color), 0.8 );
}
.queue .data_wrapper .tabs .tab.has_not {
  color: rgba( var(--font_color), 0.25 );
  border-bottom: 1px solid rgba( var(--font_color), 0.12 );
  cursor: not-allowed;
}
.queue .data_wrapper .tBody {
  height: calc( 100% - 40px );
  position: relative;
}
.queue .data_wrapper .tBody .lyrics {
  display: none
}
.queue.second_tab .data_wrapper .tBody .lyrics {
    height: calc( 100% - 20px );
    background: rgba( var(--bg_color), 1 );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    overflow: auto;
}
.queue.second_tab .data_wrapper .tBody .lyrics::-webkit-scrollbar{
  background: transparent;
  width: 6px
}
.queue.second_tab .data_wrapper .tBody .lyrics::-webkit-scrollbar-track {
  background: transparent;
}
.queue.second_tab .data_wrapper .tBody .lyrics::-webkit-scrollbar-thumb {
  background: rgba( var(--font_color), 0.2 );
  border-radius: 1px;
}
.queue.second_tab .data_wrapper .tBody .lyrics:hover::-webkit-scrollbar-thumb {
  background: rgba( var(--font_color), 0.4 );
}
.queue.second_tab .data_wrapper .tBody .lyrics .text {
    margin: calc( var(--padding) * 2 ) 0;
    font-size: 110%;
    line-height: 1.3;
}
.queue.second_tab .data_wrapper .tBody .lyrics .copyright {
    opacity: 0.6;
}
.queue.second_tab .data_wrapper .tBody .lyrics .tracking_img{
  opacity: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}
.queue.second_tab .data_wrapper .tBody .lyrics .loader {
    margin: calc( var(--padding) * 3 );
    text-align: center;
    font-size: 150%;
    opacity: 0.5;
}
.queue.second_tab .data_wrapper .tBody .lyrics .error {
    text-align: center;
    margin: calc( var(--padding) * 3 );
    font-size: 110%;
    opacity: 0.8;
    font-weight: 600;
}
.queue.second_tab .data_wrapper .tBody .lyrics .error .mdi {
    margin-right: 10px;
    font-size: 150%;
    position: relative;
    bottom: -3px;
    opacity: 0.5;
}

.queue.second_tab .data_wrapper .tBody .lyrics .loader .mdi.spin:before {
    animation: spin ease-out infinite 1500ms;
}
.queue .data_wrapper .list {
  height: calc( 100% - 20px );
  overflow: auto;
  padding-top: 10px;
}
.queue .data_wrapper .list::-webkit-scrollbar{
  background: transparent;
  width: 6px
}
.queue .data_wrapper .list::-webkit-scrollbar-track {
  background: transparent;
}
.queue .data_wrapper .list::-webkit-scrollbar-thumb {
  background: rgba( var(--font_color), 0.0 );
  border-radius: 1px;
}
.queue .data_wrapper .list:hover::-webkit-scrollbar-thumb {
  background: rgba( var(--font_color), 0.4 );
}
.queue .data_wrapper .list ._items {}
.queue .data_wrapper .list ._items .item {
  padding-top: calc( var(--padding) * 1 );
  padding-bottom: calc( var(--padding) * 1 );
  border-bottom: 1px solid rgba( var(--font_color), 0.05 );
  cursor: pointer;
}
.queue .data_wrapper .list ._items .item .cover_holder .cover {
  width: 34px;
  height: 34px;
  background: center center no-repeat;
  background-size: cover;
  border-radius: 3px;
}
.queue .data_wrapper .list ._items .item > div {
  float: var(--align);
  margin-left: 5px;
}
.queue .data_wrapper .list ._items .item .cover {}
.queue .data_wrapper .list ._items .item .detail {
  width: calc( 100% - 109px );
  margin-left: 15px;
  color: rgba( var(--font_color), 0.5 );
  white-space: nowrap;
  overflow: hidden;
  height: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.queue .data_wrapper .list ._items .item .detail .title {
  color: rgba( var(--font_color), 1 );
  font-weight: 600;
  font-size: 110%;
}
.queue .data_wrapper .list ._items .item:last-child {
  border-bottom: none;
}
.queue .data_wrapper .list ._items .item .duration {
    width: 45px;
    text-align: right;
    height: 34px;
    line-height: 32px;
    margin-right: 5px;
    opacity: 0.6;
}
.queue .data_wrapper .list ._items .item.active_que {
    background: rgba( var(--font_color), 0.04 );
    border-bottom-color: rgba( var(--font_color), 0.08 );
}
.queue .data_wrapper .list ._items.next_items  {
  display: none
}
.queue .data_wrapper .list .infinite {
  border: 1px solid rgba( var(--font_color), 0.05 );
  border-right: none;
  border-left: none;
  padding: calc( var(--padding) * 2 ) 0;
  position: relative;
}
.queue .data_wrapper .list .infinite ._t {
    font-size: 120%;
    font-weight: 600;
}
.queue .data_wrapper .list .infinite ._s {
    font-size: 95%;
    opacity: 0.5;
}
.queue .data_wrapper .list ._items.next_items .item {
    opacity: 0.3;
}
.queue .data_wrapper .list .infinite ._mask {
    width: 40px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(var(--font_color),0.15);
    border-radius: 20px;
    cursor: pointer;
}
.queue .data_wrapper .list .infinite ._mask:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    top: 4px;
    position: absolute;
    border-radius: 50%;
    transition: 150ms ease all;
    background: rgba(var(--font_color),0.4);
    right: calc( 100% - 16px - 5px )

}
body.muse_infinite .queue .data_wrapper .list .infinite ._mask {
  background: rgba(var(--theme_color),0.2);
}
body.muse_infinite .queue .data_wrapper .list .infinite ._mask:before {
  background: rgba(var(--theme_color),0.9);
  right: 5px;
}
body.muse_infinite .queue .data_wrapper .list ._items.next_items  {
  display: block
}

.queue #preview {
  float: left;
  width: 60%;
  position: relative;
  padding: calc( var(--padding) * 3 );
}
.queue #preview .preview_wrapper {
  width: 1200px;
  max-width: calc( 100% - ( var(--padding) * 8 ) );
  height: fit-content;
  min-height: 400px;
  max-height: calc( var(--window_height) - 200px );
  position: absolute;
  overflow: hidden;
  margin: auto;
  top: 0;
  left: calc( ( var(--padding) * 5 ) );
  right: calc( ( var(--padding) * 5 ) );
  bottom: 0;
}
.queue #preview .preview_wrapper .graph_wrapper .image_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.queue #preview .preview_wrapper .graph_wrapper img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.queue #preview .text_wrapper {
  margin-bottom: 20px;
  position: relative;
}
.queue #preview .text_wrapper > a {
  display: block;
}
.queue #preview .text_wrapper > a.title {
  font-size: 200%;
  font-weight: 600;
  margin-bottom: 5px;
}
.queue #preview .text_wrapper > a.sub_title {
  opacity: 0.5;
}
.queue #preview .graph_wrapper {
  width: 100%;
  position: relative;
  background: rgba(var(--font_color),0.02);
  border-radius: 10px;
  overflow: hidden;
}
.queue #preview .graph_wrapper:after {
  display: block;
  content: "";
  padding-top: 59%;
}
.queue #preview .text_wrapper .more {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: fit-content;
  font-size: 200%;
  margin: auto;
  cursor: pointer;
}
.queue #preview .graph_wrapper.type_youtube:after,
.queue #preview .graph_wrapper.type_soundcloud:after,
.queue #preview .graph_wrapper.type_video:after {
  padding-top: 56%
}
body.hide_muse_sources .queue #preview .types {
  display: none;
}

.queue #preview .types {
  z-index: 1;
  position: relative;
  margin-top: calc( var(--padding) * 2 );
  text-align: center;
}
.queue #preview .types .type {
  position: relative;
  margin-right: calc( var(--padding) * 1.5 );
  display: inline-block;
  opacity: 0.5;
  transition: 100ms ease-in all;
  cursor: pointer;
}
.queue #preview .types .type .children {
  position: absolute;
  left: 0;
  top: 100%;
  background: red;
  width: 200px;
  display: none;
}
.queue #preview .types .type .type_title {
  text-transform: uppercase;
  font-size: 80%;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: rgba(var(--font_color),0.8);
  padding: calc(var(--padding)*0.4) calc(var(--padding)*01);
  border: 1px solid transparent;
}
.queue #preview .types .type.active {
  opacity: 0.8
}
.queue #preview .types .type.active .type_title {
  color: rgb(var(--theme_color));
  border-color: rgb(var(--theme_color),0.6);
}
.queue #preview .types:hover .type {
  opacity: 0.8;
}
.queue #preview .types .type:hover {
  opacity: 1;
}
.queue #preview .types .type.locked .type_title:before,
.queue #preview .types .type.parent .type_title:after {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  line-height: 0
}
.queue #preview .types .type.locked .type_title:before {
  content: "\F0341";
  font-size: 110%;
  margin-right: 3px;
}
.queue #preview .types .type.parent .type_title:after {
  content: "\F035D";
  font-size: 150%;
  margin-left: 0px;
  top: 2px;
  opacity: 0.7;
}
.queue .touch {
    display: none;
}
.queue #preview.a_book .graph_wrapper {
  width: calc(var(--window_height)*.33);
  height: calc(var(--window_height)*.5);
  margin: auto;
  overflow: hidden;
}

body.muse_hide #player {
  display: none;
}
body.muse_hide .queue {
  display: none;
}
body.muse_active.muse_hide #main {
  margin-bottom: 0;
  height: var(--window_height);
}
body.muse_active.muse_hide .sidebar {
  bottom: 0
}

body.desktop.muse_hide #player,
body.desktop.noParts  #player{
  --player_height: 64px;
  position: fixed;
  width: 225px;
  right: 25px;
  bottom: 25px;
  left: auto;
  border-radius: 6px;
  border: 2px solid rgba(var(--font_color),0.05);
  display: block;
  font-size: 95%;
}
body.desktop.muse_hide #player > div,
body.desktop.noParts  #player > div{
  display: none;
}
body.desktop.muse_hide #player .data_wrapper,
body.desktop.noParts  #player .data_wrapper{
  display: flex;
  width: 100%;
  border: none;
  padding-left: calc( var(--padding) * 1.5 );
}
body.desktop.muse_hide #player .data_wrapper .source_data .button_wrapper,
body.desktop.noParts  #player .data_wrapper .source_data .button_wrapper{
  display: none;
}
body.desktop.muse_hide #player .data_wrapper .source_data,
body.desktop.noParts  #player .data_wrapper .source_data{
  margin-right: calc( var(--padding) * 1.5 );
  padding-left: calc( ( var(--padding) * 1.5 ) + 40px );
}
body.desktop.muse_hide #player .data_wrapper .source_data .cover_holder,
body.desktop.noParts  #player .data_wrapper .source_data .cover_holder{
  width: 40px;
  border-radius: 5px;
  overflow: hidden
}
body.desktop.user_subs #player {
    bottom: 150px;
}
body.desktop.muse_hide #player .controls_wrapper,
body.desktop.noParts #player .controls_wrapper {
    display:block;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
}
body.desktop.muse_hide #player .controls_wrapper .control,
body.desktop.noParts #player .controls_wrapper .control {
    display:none
}
body.desktop.muse_hide #player .controls_wrapper .control.play,
body.desktop.noParts #player .controls_wrapper .control.play {
    display:block;
    width: 100%;
    height: 100%;
}
body.desktop.muse_hide #player .controls_wrapper .control.play span,
body.desktop.noParts #player .controls_wrapper .control.play span {
    display:block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc( var(--padding) * 1.5 );
    margin: auto;
    width: 40px;
    text-align: center;
    font-size: 27pt;
    opacity: 0.6;
}

body.always_hide_yt_frame.muse_youtube_active #players {
    opacity: 0;
    visibility: hidden;
}

#player .buttons_wrapper .button.volume_control {
    position: relative;
}
 .vol_bar {
    position: absolute;
    bottom: 120px;
    background: rgb(var(--object_color));
    box-shadow: 7px -2px 15px rgba(var(--side_color),0.7);
    width: 130px;
    height: 40px;
    transform: rotate(-90deg);
    left: -56px;
    /* left: 0; */
    margin: auto;
    border-radius: 6px;
    z-index: 1;
}
 .vol_bar input {
    /* transform: rotate(90deg); */
    width: 100%;
    position: ABSOLUTE;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    z-index: 11;
    cursor: pointer;
}
 .vol_bar .masks {
    width: 94px;
    background: rgba(var(--font_color),0.05);
    height: 4px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
 .vol_bar .masks > span {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 2px;
}
 .vol_bar span.maskB  {
    right: auto;
    background: rgb(var(--theme_color));
    left: 0;
}
 .vol_bar span.maskB:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: rgb(var(--theme_color));
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
    margin: auto;
    border-radius: 50%;
    transform: scale(1.2);
}

body.queue_hide_lyrics .queue .data_wrapper .tabs .tab._lyrics {
  display: none;
}
body.queue_hide_lyrics .queue .data_wrapper .tabs .tab {
  width: 100%;
}
body.queue_hide_infinite .queue .data_wrapper .list .infinite {
  display: none;
}
body.queue_hide #player .buttons_wrapper .button.que_toggle {
  display: none;
}
body.queue_hide #player .buttons_wrapper {
  width: 100px;
}
body.queue_hide #player .progress_bar {
  width: calc( 100% - ( 665px ) );
}

body #player.raaz_requesting .controls_wrapper .control.play {
  animation: normal load_hb infinite 2400ms
}

body #player.hotFixed .buttons_wrapper .button.volume_control {
  animation: normal load_hb infinite 2400ms
}

@keyframes load_hb {
  0% {
    color: inherit
  }

  50% {
    color: rgba(var(--theme_color), 1)
  }

  100% {
    color: inherit
  }
}

#player.error .controls_wrapper {
  opacity: 0.2;
}

#player.error .progress_bar {
  opacity: 0.4;
}

#player .buttons_wrapper .button.muse_like_handler.loading {
  opacity: 0.3;
}

#player .buttons_wrapper .button.muse_like_handler.liked {
  transform: scale(1.07);
}

body.mobile #preview .preview_wrapper.thingie_attached #thingie_skip {
  bottom: auto;
  position: relative;
  text-align: center;
  margin: calc( var(--padding) * 2 );
  justify-content: center;
}

body.mobile #player.thingie_attached .thingie_indicator {
  /* display: none; */
  width: 100%;
}

body.mobile #player.thingie_attached .data_wrapper {
  display: none;
}

body.mobile #player.thingie_attached .controls_wrapper {
  opacity: 0.14;
}

body.mobile #player.thingie_attached {
}

body.mobile.que_active #player.thingie_attached .thingie_indicator {
  display: none;
}