/* =========== Browse page =========== */
body.page_object_browse {
  ---filters_abs_width: 300px;
  --slider_med_count: 6
}
body.page_object_browse #main {
  padding-left: calc( var(--sidebar_abs_width) + var(---filters_abs_width) + ( var(--padding) * 3 ) );
}
body.page_object_browse .header {
  left: calc( var(--sidebar_abs_width) + var(---filters_abs_width) );
}
body.page_object_browse #main .bb_filters {
  position: fixed;
  top: 0;
  left: var(--sidebar_abs_width);
  bottom: 0;
  background: linear-gradient(328deg, rgba( var(--bg_color2), 1 ), rgba( var(--bg_color), 1 ));
  width: var(---filters_abs_width);
  right: 0;
  z-index: 15;
  border-right: 1px solid rgba(var(--font_color),0.05);
}
body.page_object_browse.muse_active #main .bb_filters {
  bottom: 90px;
}
body.page_object_browse #main .bb_filters .bb_sub_title {
    padding: calc( var(--padding) * 3 ) calc( var(--padding) * 3 ) calc( var(--padding) * 2 );
    font-size: 170%;
    font-weight: 500;
    color: rgba(var(--font_color),0.9);
}
body.page_object_browse #main .bb_filters .bb_sub_title .count {
    font-size: 70%;
    position: relative;
    top: 0px;
    opacity: 0.4;
    font-weight: 600;
    margin-left: 5px;
    display: inline-block;
}
body.page_object_browse #main .bb_filters .bb_title {
    background: rgba(var(--side_color2),0.5);
    height: 64px;
    line-height: 64px;
    padding: 0 calc( var(--padding) * 3 );
    font-size: 150%;
    font-weight: 600;
    color: rgba(var(--font_color),0.3);
    border-left: 1px solid rgba(var(--font_color),0.03);
}
body.page_object_browse #main .bb_filters .bb_items {
  margin: calc( var(--padding) * 1.5 ) 0;
  max-height: calc( 100% - 65px - 75px - 35px - calc(var(--padding) * 5 ) );
  overflow: auto;
  margin-right: 5px;
}
body.page_object_browse #main .bb_filters .bb_items::-webkit-scrollbar{
  background: transparent;
  width: calc(var(--padding)*0.7)
}
body.page_object_browse #main .bb_filters .bb_items::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 0 rgba( 255, 255, 255, 0 );
  background: transparent;
}
body.page_object_browse #main .bb_filters .bb_items::-webkit-scrollbar-thumb {
  background: rgba( var(--font_color), 0.04 );
  border-radius: 4px;
}
body.page_object_browse #main .bb_filters .bb_items .bb_item {
    padding: 0 calc( ( var(--padding) * 3 ) - 5px ) calc( var(--padding) * 3 ) calc( var(--padding) * 3 );
}
body.page_object_browse #main .bb_filters .bb_items .bb_item .bb_label {
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.35;
    margin-bottom: 6px;
    font-size: 105%;
}
body.page_object_browse #main .bb_filters .bb_items .bb_item .bb_input .bof_input {
    border-radius: 4px;
    padding: 17px 10px;
}
body.page_object_browse #main .bb_filters .bb_items .bb_item .bb_input {}
body.page_object_browse #main .bb_filters .bb_items .bb_item .bb_input .select_i .mask {
    background: rgba(var(--font_color),0.04);
    padding: 9px 16px;
    font-weight: 500;
    font-size: 90%;
    color: rgba(var(--font_color),0.6);
}
body.page_object_browse #main .bb_filters .bb_items .bb_item .bb_input .select_i input:checked ~ .mask {
    font-weight: 600;
    color: rgba(var(--font_color),1);
    background: rgba(var(--font_color),0.07);
}
body.page_object_browse #main .bb_filters .bb_items .bb_item .bb_input .select_i:hover .mask {
    background: rgba(var(--font_color),0.07);
}
body.page_object_browse #main .bb_filters .bb_items .bb_item:last-child {
    padding-bottom: 0
}
body.page_object_browse #main .bb_filters .bb_buttons {
    padding: 0 calc( var(--padding) * 3 );
    text-align: center;
}
body.page_object_browse #main .bb_filters .bb_buttons .btn {
    border-radius: 6px;
    /* display: block; */
    text-align: center;
    padding: 11px 50px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 115%;
}
body.page_object_browse #main .bb_content .nada {
    font-size: 170%;
    text-align: center;
}
body.page_object_browse #main .bb_content .nada ._sti {
    display: block;
    font-size: 60%;
    opacity: 0.4;
    margin-top: 5px;
}
body.page_object_browse #main .bb_content .nada .mdi {
    opacity: 0.4;
    font-size: 90%
}
body.page_object_browse #main .bb_content .nada ._ti {
    font-weight: 700;
    opacity: 0.7;
}
body.loading.page_object_browse #main:after {
    left: calc( var(--sidebar_abs_width) + var(---filters_abs_width) );
}
body.page_object_browse.que_active #main .bb_filters {
    z-index: 9;
}
body.page_object_browse #main .bb_filters .bb_items .bb_item .bb_input select.bof_input {
    line-height: 1;
    box-sizing: border-box;
    padding: 0 0.5rem;
    font-weight: 500;
}
body.page_object_browse #main .bb_filters .bb_items .bb_item .bb_input select.bof_input option {
    color: rgb(var(--font_color));
    background: rgb(var(--bg_color));
}

@media( max-width: 1700px ){
  body.page_object_browse {
    --slider_med_count: 5
  }
}
@media( max-width: 1520px ){
  body.page_object_browse {
    --slider_med_count: 4;
  }
}
@media( max-width: 1340px ){
  body.page_object_browse {
    --slider_med_count: 3;
  }
}
@media( max-width: 1180px ){
  body.page_object_browse {
    --slider_med_count: 2;
  }
}
@media( max-width: 1050px ){
  body.page_object_browse {
    --slider_med_count: 3;
  }
}
@media( max-width: 750px ){
  body.page_object_browse {
    --slider_med_count: 2;
  }
}
@media( max-width: 500px ){
  body.page_object_browse {
    --slider_med_count: 2;
  }
}
