.d_head {
  --d_head_cover_size: 250px;
  padding-left: calc( var(--d_head_cover_size) + ( var(--padding) * 3 ) );
  padding-top: calc( var(--padding) * 3 );
  margin-bottom: calc( var(--padding) * 6 );
  min-height: calc( var(--d_head_cover_size) + ( var(--padding) * 3 ) );
  display: flex;
  flex-direction: column-reverse;
}
.d_head .cover_wrapper {
  position: absolute;
  width: var(--d_head_cover_size);
  height: var(--d_head_cover_size);
  overflow: hidden;
  border-radius: 5px;
  left: 0;
  top: calc( var(--padding) * 3 );
  box-shadow: 0 4px 60px rgb(0 0 0 / 50%)
}
.d_head .cover_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.d_head .detail .title {
  font-size: 400%;
  line-height: 1.1;
  font-weight: 600;
  margin-bottom: calc( var(--padding) * 2 );
  word-break: break-word;
}
.d_head .detail .is {
  font-size: 105%;
  margin-bottom: calc( var(--padding) * 2 );
}
.d_head .detail .is .i {
  float: var(--align);
  position: relative;
  line-height: 30px;
  opacity: 0.66;
}
.d_head .detail .is .i > div {
  float: var(--align);
}
.d_head .detail .is .i .graphic {
  margin-right: calc( var(--padding) * 0.5 );
}
.d_head .detail .is .i.img .graphic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.d_head .detail .is .i.img .graphic:empty {
  display: none
}
.d_head .detail .is .i.img .graphic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.d_head .detail .is .i:last-child {
  margin-right: 0;
}
.d_head .detail .is .i.img {
  font-weight: 600;
}
.d_head .detail .is .i._type {
  font-size: 125%;
  color: rgb(var(--font_color));
  opacity: 1;
  font-weight: 600
}
.d_head .detail .is .i:after {
  content: ".";
  font-size: 200%;
  opacity: 0.3;
  margin: 0 calc( var(--padding) * 0.6 );
  place-self: flex-end;
  position: relative;
  font-size: calc( var(--font_size) * 2 );
  line-height: 0;
}
.d_head .detail .is .i:last-child:after {
  display: none
}
.d_head .detail .buttons {
}
.d_head .detail .buttons .button_wrapper {
  float: var(--align);
}
.d_head .detail .buttons .button_wrapper {
  margin-right: calc( var(--padding) * 1 );
  color: rgba( var(--font_color), 0.5 );
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 26pt;
  border-radius: 50%;
  cursor: pointer;
  transition: 200ms ease all;
}
.d_head .detail .buttons .button_wrapper:last-child {
  margin-right: 0
}
.d_head .detail .buttons .button_wrapper.play {
  background: rgba( var(--side_color), 0.3 );
  color: rgba( var(--font_color), 1 );
}
.d_head .detail .buttons .button_wrapper:hover {
  color: rgba( var(--font_color), 1 );
  background: rgba( var(--bg_color), 0.4 );
}
.d_head .detail .buttons .button_wrapper._like span.mdi {
    display: none;
}
.d_head .detail .buttons .button_wrapper._like span.mdi.like {
    display: block;
}
.d_head .detail .buttons .button_wrapper._like.liked span.mdi.like {
    display: none;
}
.d_head .detail .buttons .button_wrapper._like.liked span.mdi.unlike {
    display: block;
}
.no_cover .d_head {
    padding: 0;
    height: auto;
    min-height: auto;
}
.no_cover .d_head .cover_wrapper {
    display: none;
}

.d_head.t2 {
  --d_head_cover_size: 300px;
  height: calc( 400px - 64px + 75px );
  position: relative;
  margin-bottom: calc( var(--padding) * 3 );
  padding-left: calc( var(--d_head_cover_size) + ( var(--padding) * 3 ) );
  padding-top: 0
}
.d_head.t2 .cover_wrapper {
    border: 4px solid rgba(var(--bg_color), 1 );
    background: rgba(var(--bg_color), 1 );
    width: var(--d_head_cover_size);
    height: var(--d_head_cover_size);
    top: auto;
}
.creator .d_head .cover_wrapper {
  border-radius: 50%
}
.d_head.t2 .cover_wrapper img {
    border-radius: 3px;
}
.d_head.t2 .detail {
}
.d_head.t2 .detail .above {
    padding-bottom: calc( 40px + ( var(--padding) * 3 ) );
}
.d_head.t2 .detail .above .title {
    margin-bottom: 0;
}
.d_head.t2 .detail .above .title .verified {
    position: relative;
    font-size: 70%;
    top: -15px;
    margin-left: 15px;
}
.d_head.t2 .detail .above .det {
    color: rgba(var(--font_color),0.6);
    display: flex;
}
.d_head.t2 .detail .above .det a {
    line-height: 24px;
    display: flex;
    text-transform: capitalize;
}
.d_head.t2 .detail .above .det a._type {
  font-size: 125%;
  color: rgb(var(--font_color));
}
.d_head.t2 .detail .above .det.nex a:after {
    top: -6px;
    font-size: calc( var(--font_size) * 3 )
}
.d_head.t2 .detail .above .det a:after {
  content: ".";
  /* line-height: 0; */
  font-size: 200%;
  opacity: 0.3;
  margin: 0 calc( var(--padding) * 0.6 );
  place-self: flex-end;
  position: relative;
  top: -3px;
  font-size: calc( var(--font_size) * 2 )
}
.d_head.t2 .detail .above .det a:last-child:after {
    display: none;
}
.d_head.t2 .detail .above .det a .graphic {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.d_head.t2 .detail .above .det a .graphic:empty {
    display: none;
}
.d_head.t2 .detail .above .det a .graphic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.d_head.t2 .detail .above .pre {
  font-weight: 600;
  margin-bottom: calc( var(--padding) * 2 );
}
.d_head.t2 .detail .above .nex {
  margin-top: calc( var(--padding) * 2 );
  font-size: 150%;
}
.d_head.t2 .detail .is {
    position: absolute;
    bottom: 75px;
    right: 0;
    left: 0;
    margin: 0 calc( var(--padding) * -3 );
    background: rgba( var(--font_color), 0.025 );
    z-index: -1;
    padding: 7px 0;
    padding-left: calc( var(--d_head_cover_size) + ( var(--padding) * 6 ) );
    font-size: 85%;
    opacity: 1
}
.d_head.t2 .detail .is .i {
  opacity: 0.5
}
.d_head.t2 .detail .buttons {
    margin: 0;
    height: 70px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-end;
}
.d_head.t2 .detail .buttons .button_wrapper {
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 22pt;
  margin-right: calc( var(--padding) * 1.5 );
}
.d_head.t2 .detail .buttons .button_wrapper.t2 {
    width: auto;
    height: auto;
    line-height: inherit;
    font-size: inherit;
    background: none;
}
.d_head.t2 .detail .buttons .button_wrapper.t2 .btn {
    /* font-size: 120%; */
    padding: 15px 30px;
    font-weight: 600;
    /* text-transform: uppercase; */
    background: rgba(var(--theme_color),0.75);
    color: rgba( 255, 255, 255, 0.86 );
    margin-right: calc( var(--padding) * 1 );
    transition: 200ms ease all;
}
.d_head.t2 .detail .buttons .button_wrapper.t2 .btn .mdi {
    margin-right: 10px;
    font-size: 16pt;
    line-height: 0;
    position: relative;
    top: 2px;
}
.d_head.t2 .detail .buttons .button_wrapper.t2 .btn:hover {
    background: rgba(var(--theme_color),1);
}
.d_head.t2 .detail .buttons .button_wrapper.t3 {
  width: auto;
  height: auto;
  font-size: inherit;
  background: none;
}
.d_head.t2 .detail .buttons .button_wrapper.t3 .btn {
  font-size: 105%;
  padding: 9px 13px;
  font-weight: 600;
  background: none;
  color: rgba( var(--theme_color), 1 );
  transition: 200ms ease all;
  border: 1px solid rgba(var(--theme_color),0.7);
  border-radius: 3px;
  opacity: 0.8;
}
.d_head.t2 .detail .buttons .button_wrapper.t3 .btn .mdi {
  margin-right: 5px;
  font-size: 12pt;
  line-height: 0;
  position: relative;
  top: 2px;
}
.d_head.t2 .detail .buttons .button_wrapper.t3 .btn:hover {
  opacity: 1
}
.d_head.t2 .detail .buttons .button_wrapper.t4 .btn {
    padding: 9px 22px 9px 14px;
    font-size: 120%;
    color: rgba( var(--bg_color), 1 );
    background: rgba( var(--font_color), 1 );
    line-height: 1;
    border: none;
    font-weight: 600;
    opacity: 0.8;
    position: relative;
    top: 1px
}
.d_head.t2 .detail .buttons .button_wrapper.t4 .btn .mdi {
    font-size: 16pt;
    top: 3px;
}
.d_head.t2 .detail .buttons .button_wrapper.t4 {
}
.d_head.t2 .detail .buttons .button_wrapper.t4 .btn ._t {
    text-transform: uppercase;
}
.d_head.t2 .detail .buttons .button_wrapper.t5 .btn {
  color: rgba( var(--font_color), 1 );
  border-color: rgba(var(--font_color),0.7);
}

.d_head.t2 .detail .buttons .button_wrapper._play {
  background: rgba( var(--font_color), 0.03 );
  color: rgba( var(--font_color), 0.9 );
  font-size: 26pt;
  transform: scale(1.1);
  margin-right: calc( ( var(--padding) * 1 ) + 12px );
  transition: 200ms ease all
}
.d_head.t2 .detail .buttons .button_wrapper._play:hover {
  background: rgba( var(--font_color), 0.07 );
  color: rgba( var(--font_color), 1 );
}
.d_head.t2 .detail .buttons .button_wrapper._subscribe.subscribed .btn {
    color: rgba( var(--font_color), 1 );
    border-color: rgba( var(--font_color), 0.5 );
}
.d_head.t2 .detail .buttons .button_wrapper._subscribe .btn .mdi.subscribed {
    display: none;
}
.d_head.t2 .detail .buttons .button_wrapper._subscribe.unsubscribed .btn .mdi.subscribed {
    display: inline-block;
}
.d_head.t2 .detail .buttons .button_wrapper._subscribe.unsubscribed .btn .mdi.unsubscribed {
    display: none
}

.no_cover .d_head.t2 {
    height: auto;
    min-height: auto;
    padding: 0;
    margin-top: calc( var(--padding) * 3 )
}
.no_cover .d_head.t2 .cover_wrapper {
    display: none;
}
.no_cover .d_head.t2 .detail .is {
    padding-left: calc( var(--padding) * 3 );
}

body.dir_rtl .d_head.ts,
.d_head.ts {
    min-height: auto;
    padding: 0;
    padding-right: 0;
    margin-bottom: calc( var(--padding) * 3 );
}
.d_head.ts .detail .title {
    margin: 0;
    text-transform: capitalize;
    margin-top: calc( var(--padding) * 3 )
}

.d_head.t2.ist2 {
  --d_head_cover_size: 280px;
  height: calc( 360px - 64px + 75px )
}
.d_head.t2.ist2 .detail .is {
    position: static;
    padding-left: calc( var(--padding) * 3 );
    background: none;
    padding-top: 0;
    font-size: 110%;
    padding-bottom: calc( var(--padding) * 2 );
}
.d_head.t2.ist2 .detail .above {
    padding-bottom: calc( ( var(--padding) * 2 ) );
}
.d_head.ist2 .detail .is .i .graphic {
    display: none !important;
}
.d_head.ist2 .detail .is .i:after {
    opacity: 0.8;
}
.d_head.ist2.t2 .detail .buttons {
  height: auto;
}


body.page_m_album_single,
body.page_r_station_single {
  background: rgba( var(--bg_color) );
}

body.page_m_artist_single .d_head .cover_wrapper,
body.page_user_single .d_head .cover_wrapper,
body.page_p_podcaster_single .d_head .cover_wrapper {
    border-radius: 50%;
}

body .page_content.single.no_cover .d_head {
    padding-top: calc( var(--padding) * 3 );
}

.p_purchased .d_head .detail .buttons .button_wrapper.purchase {
    display: none;
}

body.desktop.page_b_post_single .has_cover .d_head {
    margin-bottom: calc( var(--padding) * 10 );
}

.d_head .detail .is .i .graphic .mdi {
    font-size: 150%;
    line-height: 1.8;
}

body.desktop.page_b_post_single #main .content .page_content {
    max-width: 900px;
    margin: auto;
}
body.desktop #main .content .page_content .b_post_body {
    font-size: 110%;
    word-break: break-word;
    line-height: 2;
}
